<!-- content.html -->
<main th:fragment="content" class="container my-4 p-4 bg-white shadow rounded">
  <div class="row g-4">
    <!-- Left Column (60%) -->
    <div class="col-md-8">
      <h2 class="mb-3">Main Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo nec magna.</p>
    </div>

    <!-- Right Column (30%) -->
    <div class="col-md-4">
      <img th:src="@{/images/sample.jpg}" alt="Placeholder Image" class="img-fluid rounded shadow">
    </div>
  </div>
</main>