<!-- header.html -->
<header th:fragment="header" class="bg-primary text-white text-center py-3">
    <img src="/images/image.webp" alt="Logo" style="height: 50px;">

    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/list}">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/addNew}">Add New</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
